<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

  <!-- Footer Text -->
  <div class="container-fluid">

    <!-- Grid row -->
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">

        <!-- Grid column -->
      
          <div class="row">
          <!-- <div class="col-md-3">
            <img src="../../../assets/images/in.jpg" height="40px" width="60px" class="flogo">
          </div>

           Grid column -->
          <!-- <div class="col-md-3">
            <a class="link">
            <img src="../../../assets/images/fb.png" height="40px" width="60px" class="flogo">
            </a>
          </div>

          <div class="col-md-3">
            <a class="link">
            <img src="../../../assets/images/wh.png" height="40px" width="60px" class="flogo">
            </a>
          </div> --> 

          <!-- Grid column -->
          <div class="col-md-3">
            <a class="link" href="https://www.linkedin.com/in/priyanshi-goel-9a28221b9/" target="_blank">
            <img src="../../../assets/images/1.png" class="icon2" height="44px" width="64px" class="flogo">
            </a>
        </div>

        <div class="col-md-3">
          <a class="link" target="_blank" data-toggle="modal" data-target="#myModal">
            <img src="../../../assets/images/Phone-Icon.webp" class="icon" height="47px" width="67px" class="flogo">
            </a>
        
          <!-- The Modal -->
          <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
              
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Contact-Number</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                  +91-8103572298
                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <a class="link" target="_blank" data-toggle="modal" data-target="#myModal1">
            <img src="../../../assets/images/gmail.png" class="icon" height="43px" width="63px" class="flogo">
            </a>
        
          <!-- The Modal -->
          <div class="modal fade" id="myModal1">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
              
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Gmail</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                  priyanshigoel2000@gmail.com
                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>  
        </div>
        </div>

    
      <div class="col-md-4">
        <!-- <p class="contact">
          Contact<br>
          Mobile:+91-8103572298<br>
          Email:priyanshigoel2000@gmail.com<br>
        </p> -->
      </div>
    </div>
    </div>
      <!-- <hr class="clearfix w-100 d-md-none pb-3">
  
       
        <div class="col-md-6 mb-md-0 mb-3">
        </div>
      </div> 
    </div>
    -->


      <div class="footer-copyright text-center py-3 a1">
      </div>

</footer>
<!-- Footer -->