.navbar{
    background: aliceblue;
    height: 100px;
    font-weight: bold;
}


// .Img1{
//     background-color: aliceblue;
// }

.logo-width{
    padding-left: 90px;
}
.nav-link{
    font-family: Arial, Helvetica, sans-serif;
    color: darkgrey;
    font-weight: bolder;
    font-size: larger;
    border-radius: 10%;
    border-bottom: 10%;
    border-top: 10%;
    border-left: 10%;
    border-right: 10%;
}

.in-out{
    cursor: pointer;
}
