
  .div1{
    padding-top: 35px;
    padding-bottom: 30px;
    padding-left: 80px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: justify;
    background-color: steelblue;
    height: 100px;
    border-radius: 20px;
  }

     .div5{
      padding-top: 35px;
      padding-bottom: 30px;
      padding-left: 45px;
      font-size: 18px;
      font-weight: bold;
      color: white;
      text-align: justify;
      background-color: steelblue;
      height: 100px;
      border-radius: 20px;
    }



    .div3{
      padding-top: 20px;
      padding-bottom: 30px;
      padding-left: 40px;
      font-size: 18px;
      font-weight: bold;
      color: white;
      text-align: justify;
      background-color: steelblue;
      height: 100px;
      border-radius: 20px;
    }
    .div4{
      padding-top: 35px;
      padding-bottom: 35px;
      padding-left: 180px;
      font-size: 18px;
      font-weight: bold;
      color: navy;
      text-align: justify;
      background-color: lightblue;
      height: 100px;
      border-radius: 20px;
    }


  .div2{
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 80px;
    font-size: 18px;
    font-weight: bold;
    color: navy;
    text-align: justify;
    background-color: lightblue;
    height: 100px;
    border-radius: 20px;
  }

  .div6{
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 150px;
    font-size: 18px;
    font-weight: bold;
    color: navy;
    text-align: justify;
    background-color: lightblue;
    height: 100px;
    border-radius: 20px;
  }

  .div8{
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 120px;
    font-size: 18px;
    font-weight: bold;
    color: navy;
    text-align: justify;
    background-color: lightblue;
    height: 100px;
    border-radius: 20px;
  }

  .div7{
    padding-top: 35px;
    padding-bottom: 30px;
    padding-left: 180px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: justify;
    background-color: steelblue;
    height: 100px;
    border-radius: 20px;
  }

  .h1{
    color:midnightblue;
    font-size: 50px;
    margin-left:250px;
    padding-bottom: 20px;
  }

  .section{
    padding-bottom: 50px;
    background-color: aliceblue;
  }

  .anch{
    color: white;
  }

  .anch2{
    color: navy;
  }

  .d1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
      // position: absolute;
    // top: 33%;
    // left: 50%;
    // transform: translate(-50%,-50%);
    width: 100%;
    padding-left: 380px;
    padding-bottom: 40px;
    // text-align: center;
    color:lightgray;
  }
  
  .s1{
    font-size: 100px;
    font-weight: 800;
    text-shadow: -0.02em 0.02em 0.10em rgba(0,0,0,0.9);
  }
  
  .s1:not(:first-child){
    margin-left: -0.12em;
  }

  .b1{
    margin-left: 255px;
    background-color: darkblue;
    border-color: darkblue;
  }