<section>
<div class="col-md-12">
    <div class="d1">
        <span class="s1">A</span>
        <span class="s1">B</span>
        <span class="s1">O</span>
        <span class="s1">U</span>
        <span class="s1">T</span>
        &nbsp;
        &nbsp;
        &nbsp;          
        <span class="s1">M</span>
        <span class="s1">E</span>
        </div>
    <p class="para"><strong>
        <br>
        As a fresher, I am assuring that these years are my huge learning years. I want to absorb much of the industry knowledge and also
        to sharpen my technical abilities. I am passionate about entering the world of websites and contributing towards making a social
        impact on others. I wish to utilize my skills to learn and grow. A strong determination to go beyond the boundaries for 
        achievement of results.
        <br>
        Some of the qualities:
        <ul>
            <br>
            <li>Quick Learner</li>
            <li>Passionate about my work</li>
            <li>Adaptable</li>
        </ul>
    
            Seeking a challenging career in a professional environment with a dynamic organization, where I can
            diversify and capitalize my skills and abilities in field of computer science. Furthermore, to focus on
            company’s productivity and reputation while improving my own.</strong>
            <br>
            <br>
            <button type="button" class="btn btn-primary btn-md  b1" (click)="back()">BACK</button>
        
    </p>
    </div>
</section>