<!-- 
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel"  data-interval="1000">
  <div class="carousel-inner">
    <div class="carousel-item active ">
      <img src="../../../assets/images/sprink.jpg" height="500px" width="500px" class="d-block w-100" alt="..." >
      <div class="carousel-caption d-none d-md-block">
        <h3>Welcome to My Portfolio</h3>
        <p>There for your help</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/pipe.jpg" height="500px" width="500px" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h3>SNE presents various products for Irrigation</h3>
        <p>Mentioned Ahead</p> 
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/irri.jpg" height="500px" width="500px" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h3>SNE presents Kastakar.</h3>
        <p>Our trusted for you.</p> 
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br><br>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-3 C1"><img class="I2" src="../../../assets/images/1.jpg" alt="Unavailable"></div>
      </div>
      <div class="col-md-6">
        <h3>Shri Nakoda Enterprise</h3>
       <p class="para"><br><br></p> -->
        <!-- <strong>Let's know about who we are and what we do:</strong>
                <br>
                <hr>
                  <ul>
                    <li>Web Development</li><br>
                    <li>Graphic Design</li><br>
                    <li>Animations</li><br>
                    <li>Hosting site</li>
                  </ul> -->
      <!-- </div>
      <br>
      <br>
      <br>
    </div>
  </div> -->
  <!-- <div class="col-md-12 d1">
    <div class="row text-center ">
      <br>
      <br> -->
      <!-- <div class="embed-responsive embed-responsive-16by9 V1">
       <iframe width="560" height="315" src="https://www.youtube.com/embed/HGSR3FDVkkQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       <br>
      <br>
      <br>
      </div> -->
      <!-- <div class="row"> -->
          <!-- <div class="container">
          <div class="col-md-12"> -->
            <!-- <h1 class="text-center display-4 mt-5">
              Solodev Web Design & Content Management Software
            </h1> -->
            <!-- <p class="text-center mt-5">
              <a  class="embed-responsive embed-responsive-16by9 V1" routerlink="/"></a>
            </p>
            <div id="headerPopup" class="mfp-hide embed-responsive embed-responsive-21by9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/HGSR3FDVkkQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             <br>
             <br>
             <br>
            </div> -->
          <!-- </div>
        </div>
      </div> -->
      <!-- </div>
      </div> -->
  <!-- <div class="col-md-12 d1">
    <div class="row">
      <div class="col-md-3 C1"><img class="I1" src="../../../assets/images/help.jpg" alt="Unavailable"></div>
      <div class="col-md-3 C1"><img class="I1" src="../../../assets/images/more.png" alt="Unavailable"></div>
      <div class="col-md-3 C1"><img class="I1" src="../../../assets/images/solution.jpg" alt="Unavailable"></div>
      <div class="col-md-3 C1"><img class="I1" src="../../../assets/images/work.jpg" alt="Unavailable"></div>
    </div>
  </div>
</section> -->
<section>
  <div class="container">
    <div class="row">
      <div class="d1">
        <span class="s1">P</span>
        <span class="s1">R</span>
        <span class="s1">I</span>
        <span class="s1">Y</span>
        <span class="s1">A</span>
        <span class="s1">N</span>
        <span class="s1">S</span>
        <span class="s1">H</span>
        <span class="s1">I</span>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <span class="s1">G</span>
        <span class="s1">O</span>
        <span class="s1">E</span>
        <span class="s1">L</span>
        <!-- <span class="s1">P</span> -->
  </div>
    </div>
      <div class="row">
        <div class="col-md-6 div1"  >
          <a class="nav-link active px-5 a1" aria-current="page" routerLink="/about-us">
            <p class="p1"> Profile</p>
          </a>
        </div>
        <div class="col-md-6 div2">
          <a class="nav-link active px-5 a1" aria-current="page" routerLink="/transition">
            <p class="p2">AboutMe</p>
            </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 div3">
          <a class="nav-link active px-5 a1" aria-current="page" routerLink="/how-it-works">
            <p class="p3">Courses</p>
            </a>
        </div>
        <div class="col-md-6 div4">
          <a class="nav-link active px-5 a1" aria-current="page" routerLink="/demo">
            <p class="p4">Certificates</p>
            </a>
        </div>
      </div>
    </div>

</section>