<section>
    <div class="container back">
      <div class="row">
        <div class="col-md-2">
            <a href="https://www.youtube.com/embed/LcF6ut-1M94" class="image-tile" data-abc="true">
                <img class="I1" src="../../../assets/images/acad.png" height="190px" width="210px"
                    alt="image small">
            </a>
            <br>
            <br>
        <div id="lightgallery" class="col-md-12">
            <div class="demo-gallery-poster col-md-4 image">
            </div>
            <br>
            <br>
            <br>
            <div class="demo-gallery-poster col-md-4 ga">
                <!-- <a href="https://www.youtube.com/embed/ewAMV32pyNE" class="image-tile" data-abc="true"><img
                        src="../../../assets/images/skills.jpg" height="220px" width="250px"
                        alt="image small">
                </a> -->
            </div>
            <br>
            <div class="demo-gallery-poster col-md-4 ga">
                <!-- <a href="https://www.youtube.com/embed/QC8iQqtG0hg" class="image-tile" data-abc="true"><img
                        src="https://res.cloudinary.com/dxfq3iotg/image/upload/c_scale,h_241,w_241/v1533641246/billing_invoicing_finance_copy-720x360.png"
                        alt="image small">
                </a> -->
            </div>
            <br>
        </div>
    </div>
    <!-- <div class="vl col-md-1"></div> -->
    <div class="col-md-10 section">
        <strong>
        <h5 class="head">ACADEMIC DETAILS</h5><br>
        <div class="row col-md-12 r1">
          <div class="col-md-4">
              <h5 class="s1">Bachelor of Technology</h5>
              <hr >
              <p class="p">Medi-Caps University</p>
              <p class="p">2019-2023</p>
              <p class="p">Computer Science</p>
          </div>
          <div class="col-md-4">
            <h5 class="s1">Higher Secondary</h5>
            <hr>
            <p class="p">Chameli Devi Public School</p>
              <p class="p">2018-2019</p>
              <p class="p">Science</p>
              <p class="p">CBSE</p>
          </div>
          <div class="col-md-4">
            <h5 class="s1">Secondary</h5>
            <hr>
            <p class="p">Chameli Devi Public School</p>
            <p class="p">2016-2017</p>
            <p class="p">CBSE</p>
          </div>
        </div>
        <br>
        <br>
        <br>    
        <br>
        <div class="row col-md-12 r1">
            <h3 class="s1"><strong>Skill Highlights</strong></h3>
          <div class="col-md-4">
            <div>
              <hr class="hr1">
              <ul>
                <li>Planning and coordination</li>
                <li> Good Analytical Abilities</li>
                <li>Time and stress management</li>
                <li>Team building skills</li>
              </ul>
             
              </div>
          </div>
          <div class="col-md-4">
            <h3 class="s1"><strong></strong></h3>
            <hr class="hr1">
            <ul>
                <li>Decision Making </li>
                <li> Positive Attitude</li>
                <li>Problem solving skills</li>
                <li>Communication skills</li>
              </ul>
          </div>
          <div class="col-md-4">
            <hr class="hr1">
            <ul>
                <li>Inter-personal skills</li>
                <li> Software skills</li>
                <li>Creative and Resourceful</li>
                <li>Agile</li>
              </ul>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row col-md-12 r1">
            <h3 class="s1"><strong>Hobbies<br></strong></h3>
            <div class="col-md-4">
              <div>
                
                <hr class="hr1">
                <ul>
                  <li>Playing Basketball</li>
                  <li>Riding different Bikes</li>
                </ul>
               
                </div>
            </div>
            <div class="col-md-4">
              <hr class="hr1">
              <ul>
                  <li>Listening Music</li>
                  <li>Travelling new places</li>
                </ul>
            </div>
            <div class="col-md-4">
              <hr class="hr1">
              <ul>
                  <li>Gardening</li>
                  <li>Dance</li>
                </ul>
            </div>
          </div>
        </strong>
        <br>
  <br>
  <button type="button" class="btn btn-primary btn-md b1" (click)="back()">BACK</button>
      </div>
</div>
</div>
</section>


<!-- <div id="carouselvideoExamples" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active ">
            <iframe width="1550" height="500"  src="https://www.youtube.com/embed/LcF6ut-1M94" autoplay=1
                title="YouTube video player" frameborder="0" allow='autoplay'
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <div class="carousel-caption d-none d-md-block">
                <h5>Know About Us.</h5>
            </div>
        </div>
        <div class="carousel-item">
            <iframe width="1550" height="500" src="https://www.youtube.com/embed/ewAMV32pyNE"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <div class="carousel-caption d-none d-md-block">
                <h5>Know About Us.</h5>
            </div>
        </div>
        <div class="carousel-item">
            <iframe width="1550" height="500" src="https://www.youtube.com/embed/QC8iQqtG0hg"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <div class="carousel-caption d-none d-md-block">
                <h5>Know About Us.</h5>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> -->